{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>展示界面</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/index_show.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body width="800">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">浅月网</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'login_index' %}">用户</a></li>
                    <li><a href="{% url 'index' %}">上传</a></li>
                    <li class="active"><a href="{% url 'show_index' %}">展示</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <form action="" method="POST" enctype="multipart/form-data" /> 商品名: <input type="text" id="goodsname" name="goodsname" /> 商品介绍：
    <input type="text" id="goodsinfo" name="goodsinfo" /> 商品价格：
    <input type="text" id="goodsprice" name="goodsprice" /> 商品图片：
    <input type="file" id="goodspic" name="goodspic" />
    <input type="submit" id="submit" value="提交至审核" />
    </form>

</body>

</html>