{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>管理员管理界面</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/website/index_user.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body width="800">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">浅月网</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'login_index' %}">管理列表</a></li>
                    <li class="active"><a href="{% url 'admin_user_index' %}">用户管理</a></li>
                    <li><a href="{% url 'admin_goods_index' %}">商品管理</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <table>
        <tr>
            <td>用户ID</td>
            <td>用户名</td>
            <td>密码</td>
            <td>身份</td>
        </tr>
        
          {% for user in userdata %}
          <tr>
            {% for userinfo in user %}
              <td>{{userinfo}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
         
    </table>


</body>

</html>